@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    background: #000000;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    color: white;
    font-family: Arial, sans-serif;
}

.banner {
    width: 100%;
    height: 605px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #33A8DB;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(49, 168, 221, 0.2), rgba(0, 0, 0, 0.6)),
        url(/assets/images/banner.png) no-repeat center center;
    background-size: cover;
}


.banner-content {
    width: 780px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color: transparent;

}

.logo {
    width: 268px;
    height: 268px;
    left: 121px;
    gap: 0px;
    opacity: 0px;    
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 50%; 
    overflow: hidden; 
}

.logo img {
    width: 100%; 
    height: 100%;
    padding: 10px 10px 10px 10px;
    object-fit: contain; 
    background-color: transparent;
}

.banner-content h1 {
    width: 510px;
    height: 46px;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 900;
    line-height: 46.96px;
    text-transform: uppercase;
    background: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 35px;
}

.banner-content p {

    width: 610px;
    height: 46px;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.48px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;
    background-color: transparent;
}

button {

    width: 334px;
    height: 50px;
    gap: 0px;
    opacity: 0px;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #3BA1CD;
    background-color: transparent;
    border: 2px solid transparent;
    border-image-source: linear-gradient(180deg, #3BA1CD 0%, #1572B7 100%);
    border-image-slice: 1;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 2px;
}


button:hover {
    background-color: #3BA1CD;
    color: white;
}

#course-content {
    width: 792px;
    height: 330px;
    background-color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 38vw;
    margin-top: 50px;
}

#course-content h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 46.96px;
    text-transform: uppercase;
    background: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 100px;
    margin-left: 50px;
    letter-spacing: 2.5px;
}

#course-content p {
    width: 780px;
    height: 38px;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 300;
    line-height: 20.78px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;
    text-align: center;
   margin-left:-150px ; 
   margin-top: 20px;

}


.modules-list {

    width: 892px;
    height: 325px;
    margin-top: 20px;

}


.module {

    width: 550px;
    height: 53px;
    padding: 16px 27px 14px 60px;
    opacity: 1;
    background: #252525;
    color: white;
    font-size: 18px;
    font-weight: 100;
    line-height: 18.78px;
    align-items: center;
    border-radius: 25px;
    border: 2px solid #0056b3;
    margin-top: 20px;
    letter-spacing: 0.05px;
}


.module span {
    background: #252525;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #0056b3;
}


#transform-world {
    width: 100vw;
    height: 560px;
    margin-top: 130px;
    background-image: url(/assets/images/woman-code.png);
    background-size: 100% 100%;
    background-position: left;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    
}

#transform-world p {
    width: 244px;
    height: 141px;
    gap: 0px;
    font-family: Raleway;
    font-size: 40px;
    font-weight: 900;
    line-height: 46.96px;
    text-align: left;
    text-underline-position: from-font;
    margin-left: 198px;
    text-transform: lowercase;
    color: white;
    -webkit-text-stroke: 1px #33A8DB;
    -webkit-text-stroke: 1px #33A8DB;
    background-color: transparent;
}


#professional-challenges {
    width: 100%;
    height: 751px;
    text-align: center;
    padding: 40px 20px;
    background: black;
}

#professional-challenges h2 {
    width: 850px;
    height: 76px;
    font-family: Raleway;
    font-size: 32px;
    font-weight: 700;
    line-height: 37.57px;
    letter-spacing: 0.19em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-left: 550px;
}

#professional-challenges img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}

#professional-challenges p {
    width: 792px;
    height: 76px;
    top: 2154px;
    left: 324px;
    gap: 0px;
    opacity: 0px;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin: 20px 0;
    color: white;
    margin-left: 550px;
}

footer {
    width: 100%;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-top: 1px solid #33A8DB;
    background: linear-gradient(180deg, rgba(51, 168, 219, 0) 0%, rgba(51, 168, 219, 0.2) 99.99%, rgba(51, 168, 219, 0.2) 100%);
    padding: 20px;
    text-align: center;
    color: white;
}

footer .dio-logo {
    max-width: 200px;
    height: auto;
    margin-bottom: 10px;
    background-color: transparent;
}

footer p {
    font-size: 16px;
    color: white;
    text-align: center;
    background-color: transparent;
}

footer a {
    color: #33A8DB;
    text-decoration: none;
    font-weight: bold;
    background-color: transparent;
}

footer a:hover {
    text-decoration: underline;
}